#    Byte-compiled / optimized / DLL files
**/__pycache__/
**/.ipynb_checkpoints/
*.py[cod]
*.pyc
*.pyo
*.so

# Vscode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Pipenv
Pipfile
Pipfile.lock

# Data for Training
data/

# Data from Training
lightning_logs/
*.pt
**.pt

# Test & Backups
test*.py
*backup*.py

